<!doctype html>
<html lang="{{ page.seoLang }}">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>

	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />
	<meta http-equiv="content-language" content="{{ page.seoLang }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>

	{% if site.favicon %}
		<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
	{% endif %}

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	{% include basekit.headScript %}
</head>

<body class="{{ page.backgroundClass }}">
	<div class="container">
		<div class="row">
			<header class="header span-4">
				<div class="logo-title">
					<a href="#" title="{{ site.title }}">
						<img src="{{ asset('assets/avatar.png') }}" />
					</a>
					<h1>{{widget('companyname', 'companyname', {"business": "Monday"})|raw}}</h1>
				</div>
				<nav class="nav">
					{{widget('extendednavigation', 'navigationheader', {})|raw}}
				</nav>
				<aside class="aside">
					<h3>{{widget('content', 'about-title', {content: 'About me', lines: 'all'})|raw}}</h3>
					{{widget('content', 'about-content', {content: '<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus.</p>', lines: 'all'})|raw}}
					<div class="social">
						{{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
					</div>
				</aside>
			</header>
			
			<section class="section span-8">
