<header class="header span-4">
	<div class="logo-title">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		<h1>{{widget('companyname', 'companyname', {"business": "profile"})|raw}}</h1>
	</div>
	<nav class="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
	</nav>
	<aside class="aside">
		{{widget('content', 'about-content', {content: '<p>Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus. Donec sagittis, nibh ut dapibus convallis, turpis leo scelerisque lectus, nec bibendum libero sem id urna. Cras ut hendrerit nunc. Etiam ut viverra lacus.</p>', lines: 'all'})|raw}}
		<div class="social">
			{{widget('profile', 'footercolumn1socialicons', { 'profileType' : 'socialicons' })|raw}}
		</div>
	</aside>
</header>
